<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.yxy.advance.mapper.IDeptMapper">

    <select id="querySlave" resultType="java.util.Map">
        SELECT db_source
        FROM `dept`
        ORDER BY deptno DESC
        LIMIT 1;
    </select>

    <select id="queryMaster" resultType="java.util.Map">
        SELECT db_source
        FROM `dept`
        ORDER BY deptno DESC
        LIMIT 1;
    </select>

    <insert id="insertRand">
        INSERT INTO `dept` (`dname`, `db_source`)
        VALUES (UUID(), DATABASE());
    </insert>

</mapper>